*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(247, 244, 244);
}

.header {
  background-color: #ef534f;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.header__logo {
  width: 125px;
  height: auto;
  padding: 15px;
}

@media (min-width: 600px) {
  .header__logo {
    width: 200px;
  }
}
